
@font-face {
  font-family: "blowbrush";
  src: url("./fonts/blowbrush.otf");
  src: url("./fonts/blowbrush.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BamsGlitchV2Demo-Regular";
  src: url("./fonts/BamsGlitchV2Demo-Regular.otf");
}

@font-face {
  font-family: "Painting_With_Chocolate";
  src: url("./fonts/Painting_With_Chocolate.ttf");
}

@font-face {
  font-family: "Codystart-Regular";
  src: url("./fonts/Codystar-Regular.ttf");
}


.capitalLetter {

   font-family: 'Painting_With_Chocolate';
   font-weight: bold;
   text-align: center;
}

.confetti {

  float:right;
}

.header {
  font-weight: normal;
  font-family: 'BamsGlitchV2Demo-Regular';
  color: grey ;
  font-size: 70px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0;
}

.quoteOfTheDay {

    font-family: 'Codystart-Regular';
    color: #361BFC;
    font-weight: bold;
    letter-spacing: 0.5em;
    font-size: 24px;
    text-align: center

  }

.welcomeHeader h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  color:  #7A67FF;
  /*border-right: .15em solid orange;  The typwriter cursor */
 /*  white-space: nowrap; Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-family: 'Codystart-Regular';
  font-size: 3.5em;
  text-align: center;
  padding-top: 1em;
}

 .start {
    font-weight: normal;
    font-family: 'Painting_With_Chocolate';
    font-weight: bold;
    letter-spacing: 8px;
    color: #8A0EFC !important;
    font-size: 42px;
    text-decoration: none;
    text-align: center;
    
  }

  .start:hover {

  color: #361BFC !important;
  font-size: 46px;
  text-decoration: none;

  }

  .todayDate {

  font-weight: bold;
  font-family: 'BamsGlitchV2Demo-Regular';
  color: #FFC900;
  margin-top: 0;
  letter-spacing: 2px;
  text-align: right;
  padding-bottom: 1em;
  }

 ul {

  text-align: center;
 }

 .liStart {
 
  padding-top: 4em;
 }

.addInfo {

  font-weight: bold;
  font-family: 'Codystart-Regular';
  color: #361BFC ;
  background: #C4BCFF;
  letter-spacing: 2px;
  margin-top: 0;
  text-align: center;
}

.editInfo {

  font-family: 'Codystart-Regular';
  color:  grey;
  letter-spacing: 2px;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}
.myForm {

  color: grey;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mySubmit{

  text-align: center;
  color: #361BFC ;
  background: #C4BCFF;
  border-color: #C4BCFF;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: 'Codystart-Regular';
  text-transform: uppercase;
}

.mySubmit:hover {

  background: #7A67FF;
  border-color: #7A67FF;
  text-transform: uppercase;
  color:#FFC900;
}

.box {
  min-height: 360px;
  padding-top: 1em;
}

.boxHeader {

  background: #FFC900;
  text-align: center;
  font-family: 'Codystart-Regular';
  font-weight: bold;
  font-size: 1.5em;

}

.boxNotes {

  text-align: center;
  font-weight: bold;
}

.boxHeader1 {
     font-family: 'BamsGlitchV2Demo-Regular';
     font-weight: bold;
     font-size: 1em;
     text-align: right;
     letter-spacing: 3px;
     font-family: 'BamsGlitchV2Demo-Regular';
}

.pBox {
  text-align: center;
}

.e {
  font-weight: normal;
  font-family: 'BamsGlitchV2Demo-Regular';
  color:  #FFC900 ;
  font-size: 2em;
  margin-top: 0;
  letter-spacing: 2px;
}

.p {

  font-weight: bold;
  font-family: 'BamsGlitchV2Demo-Regular';
  color:  #FFC900 ;
  font-size: 1.5em;
  margin-top: 0;
  letter-spacing: 2px;
}

  .introButton {
	display: inline-block;
    border: 1px solid #000000;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    min-height: 50px;
    color: #000000;
    padding: 0;
    position: relative;
    text-align: center;
  }


