/* Box-sizing border-box */

@font-face {
  font-family: "blowbrush";
  src: url("./fonts/blowbrush.otf");
  src: url("./fonts/blowbrush.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BamsGlitchV2Demo-Regular";
  src: url("./fonts/BamsGlitchV2Demo-Regular.otf");
}

@font-face {
  font-family: "Painting_With_Chocolate";
  src: url("./fonts/Painting_With_Chocolate.ttf");
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FFFFFF; }
}

.welcomeHeader h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  color: #fe9b00;
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-family: 'Painting_With_Chocolate';
  font-size: 3.5em;
  animation: 
    typing 8s steps(31, end),
    blink-caret 1s step-end infinite;
}

.myBackground {
	background: linear-gradient(to top, #074e67, #39072C);
    height: 2256;
}


.header {
  font-weight: normal;
  font-family: 'BamsGlitchV2Demo-Regular';
  color: #FFFFFF ;
  font-size: 8em;
  letter-spacing: 4px;
  text-align: center;
}

  .start {
  	font-weight: normal;
  	font-family: 'Painting_With_Chocolate';
  	font-weight: bold;
  	letter-spacing: 8px;
  	color: #fe9b00 !important;
  	font-size: 4em;
  	text-decoration: none;
  }

  .start:hover {

	color: #FFFFFF !important;
	font-size: 5em;

  }

.myBackgroundWelcome {
	height: 100vh;
    background: linear-gradient(to top, #2d0523, #02171E);
    text-align: center;
}

.favorite {

  font-weight: normal;
  font-family: 'blowbrush';
  color: #FFFFFF ;
  font-size: 2em;
  letter-spacing: 2px;
  margin-top: 0;
  text-align: left;
  padding-top: 1em;

}


.header1 {
  font-weight: normal;
  font-family: 'blowbrush';
  color: #FFFFFF ;
  font-size: 1em;
  letter-spacing: 5px;
  float: right;
  margin-top: 0;
}

.e {
  font-weight: normal;
  font-family: 'BamsGlitchV2Demo-Regular';
  color: #fe9b00 ;
  font-size: 2em;
  margin-top: 0;
  letter-spacing: 5px;
}

.p {

  font-weight: normal;
  font-family: 'BamsGlitchV2Demo-Regular';
  color: #fe9b00 ;
  font-size: 1.5em;
  margin-top: 0;
  letter-spacing: 5px;
}

 .demo7-ball {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    position: absolute;
    border: 1px solid lightblue;
  }

  .introButton {
	display: inline-block;
    border: 1px solid #000000;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    min-height: 50px;
    color: #000000;
    padding: 0;
    position: relative;
    text-align: center;
  }

  .myShape {
  	background: url("./images/shape.png") center no-repeat;
  	background-size: cover;
  }
